<% if member_signed_in? %>
  <% if room.favorited_by?(current_member) %>
    <table class="table">
      <tr>
        <td>
          <%= link_to room_path(room.id) do %>
            <%= attachment_image_tag room, :image, :limit, 300, 300, fallback: "no_image.jpg",size: "310x310" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><%= room.created_at.strftime("%Y-%m-%d %H:%M") %>　　
          <%= link_to room_favorites_path(room), method: :delete, remote: true do %>
            <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
            <%= room.favorites.count %>いいね
          <% end %> 
            <i class="fa fa-comment"></i>
            <%= room.room_comments.count %>
        </td>
      </tr>
    </table>
  <% else %>
    <table class="table">
      <tr>
        <td>
          <%= link_to room_path(room.id) do %>
            <%= attachment_image_tag room, :image, :limit, 300, 300, fallback: "no_image.jpg",size: "310x310" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><%= room.created_at.strftime("%Y-%m-%d %H:%M") %>　　
          <%= link_to room_favorites_path(room), method: :post, remote: true do %>
            <i class="far fa-heart" aria-hidden="true"></i>
            <%= room.favorites.count %>いいね
          <% end %> 
            <%= link_to room_path(room.id) do %>
              <i class="fa fa-comment"></i>
              <%= room.room_comments.count %>
            <% end %>
        </td>
      </tr>
    </table>
  <% end %>
<% else %>
  <table class="table">
    <tr>
      <td>
        <%= link_to room_path(room.id) do %>
          <%= attachment_image_tag room, :image, :limit, 300, 300, fallback: "no_image.jpg",size: "310x320" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= room.created_at.strftime("%Y-%m-%d %H:%M") %>　　
        <%= link_to room_favorites_path(room), method: :post, remote: true do %>
          <i class="far fa-heart" aria-hidden="true"></i>
          <%= room.favorites.count %>いいね
        <% end %> 
        <%= link_to room_path(room.id) do %>
          <i class="fa fa-comment"></i>
          <%= room.room_comments.count %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= room.room_genre.genre_name %></td>
    </tr>
  </table>
<% end %>