<% if member_signed_in? %>
<br>
       <% if room.favorited_by?(current_member) %>
            <table class="table">
              <tr>
                <td><%= room.created_at %>
                　<%= link_to room_favorites_path(room), method: :delete, remote: true do %>
                    <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
                      <%= room.favorites.count %> いいね
                  <% end %>
                  　<%= link_to room_path(room.id) do %>
                  <i class="fa fa-comment"></i>
                    <%= room.room_comments.count %>
                  <% end %>
               </td>
              </tr>
            </table>

        <% else %>
        <table class="table">
            <tr>
              <td><%= room.created_at %>　
                <%= link_to room_favorites_path(room), method: :post, remote: true do %>
                 <i class="far fa-heart" aria-hidden="true"></i>
                   <%= room.favorites.count %> 
                <% end %>
                　
                  <%= link_to room_path(room.id) do %>
                  <i class="fa fa-comment"></i>
                    <%= room.room_comments.count %> 
                <% end %>  
              </td>
              </tr>
              <tr>
              <td><%= room.room_genre.genre_name %></td>
           </tr>
        </table>
        <% end %>
        
<% end %>