<% @page_title = '投稿詳細' %>
<h2>投稿詳細ページ</h2>

<div class="room-container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-3">
      <table class="table" >
        <tr>
          <td><%= attachment_image_tag @room, :image, :limit, 300, 300, fallback: "no_image.jpg",size: "310x310" %></td>
        </tr>
        <tr>
          <td><%= @room.created_at.strftime("%Y-%m-%d %H:%M") %>　　　
            <i class="fas fa-heart" aria-hidden="true"></i>
            <%= @room.favorites.count %> いいね　　
            <i class="fa fa-comment"></i>
            <%= @room.room_comments.count %>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-4">
      <div class="room-production-table">
        <table class="table">
          <tr>
            <td>
              <%= link_to admins_member_path(@member.id) do %>
                <%= attachment_image_tag @member, :profile_image, :limit, 80, 80, class:"img-circle", fallback: "no_image.jpg",size: "80x80" %>
              <% end %>
            </td>
            <td><%= @member.nickname %></td>
          </tr>
          <tr>
            <th>間取り</th>
            <td><%= @room.room_layout.layout_name %></td>
          </tr>
          <tr>
            <th>広さ</th>
            <td><%= @room.size %>畳</td>
          </tr>
          <tr>
            <th>部屋の種類</th>
            <td><%= @room.room_genre.genre_name %></td>
          </tr>
          <tr>
            <th>イメージ</th>
            <td><%= @room.room_image.image_name %></td>
          </tr>     
          <tr>
            <th>説明</th>
            <td><%= simple_format text_url_to_link(h(@room.production)).html_safe %></td>
          </tr>
        </table>
        <div class="text-right">
          <button type="button" class="btn btn-danger">
            <%= link_to "削除", admins_room_path(@room), method: :delete, data: {confirm: "本当に削除しますか？"} %>
          </button>
        </div>
      </div>
    </div>
    <div class="col-xs-2"></div>
  </div>
</div>
<!-- 投稿に対してのコメント-->
<div id="comments_area">
  <h3><i class="fa fa-comment"></i> コメント　<%= @room.room_comments.count %>件</h3>
  <div class="room_comment_container">
    <% @room_comments.each do |room_comment| %>
      <% if room_comment.parent_id.present? || room_comment.id.blank? %>
        <% next %>
      <% end %>
      <!-- 親コメント一覧 -->
        <table class="table">
          <tr>
            <td width="200">
              <p><%= attachment_image_tag room_comment.member, :profile_image, :limit, 80, 80, class:"img-circle", fallback: "no_image.jpg",size: "80x80" %>
                <%= room_comment.member.nickname %> 
              </p>
              <%=room_comment.created_at.strftime("%Y-%m-%d %H:%M") %>　
              <button type="button" class="btn btn-danger">
                <%= link_to "削除", "/admins/room_comments/#{room_comment.id}", method: :delete, data: {confirm: "本当に削除しますか？"} %><br />
              </button>
              <br>
            </td>
            <td><%= text_url_to_link(h(room_comment.comment)).html_safe %></td>
          </tr>
          <!-- リプライコメント一覧 -->
          <div id="reply_area">
          <% room_comment.replies.order(:created_at).each do |reply| %>
            <tr>
              <td width="200">
                <p>
                  <%= attachment_image_tag reply.member, :profile_image, :limit, 80, 80, class:"img-circle", fallback: "no_image.jpg",size: "50x50" %>
                  <%= reply.member.nickname %> 
                </p>
                <%=reply.created_at.strftime("%Y-%m-%d %H:%M") %>　
                <button type="button" class="btn btn-danger">
                  <%= link_to "削除", "/admins/room_comments/#{reply.id}", method: :delete, data: {confirm: "本当に削除しますか？"} %>
                </button>
              </td>
              <td><%= text_url_to_link(h(reply.comment)).html_safe %></td>
            </tr>
          <% end %>
          </div>
        </table>
        <br>
    <% end %>
        
         