<h2>Sign In</h2>



<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-6">

  <%= form_with model: @member, url: session_path(resource_name), local: true do |f| %>
    <table class="table">
      <tr>
        <th><%= f.label :email %></th>
        <td><%= f.email_field :email, autofocus: true, class:"form-control", id:"inputEmail" %></td>
      </tr>
      <tr>
        <th><%= f.label :password %></th>
        <td><%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword" %></td>
      </tr>
    </table>
    <div class="text-right">
      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      <% end %>
      <br>
      <button type="submit" class="btn btn-primary">Sign In</button>
    </div>
  <% end %>
  </div>
  <div class="col-xs-3"></div>
</div>


