<% @page_title = '会員' %>
<h2>会員一覧</h2>

<table class="table" style="table-layout:fixed;">
  <thead>
    <tr>
      <th>ID</th>
      <th></th>
      <th>ニックネーム（名前）</th>
      <th class="room-responsive">プロフィール</th>
      <th class="room-responsive">フォロワー数</th>
      <th>ステータス</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
    <tr>
      <td><%= member.id %></td>
      <td><%= link_to (attachment_image_tag member, :profile_image, class:"img-circle", fallback: "no_image.jpg", size: "80x80"), admins_member_path(member) %></td>
      <td><%= link_to member.nickname, admins_member_path(member.id) %><br />（<%= member.name %>）</td>
      <td class="room-responsive"><%= text_url_to_link(h(member.profile)).html_safe.truncate(50, omission: '...') %></td>
      <td class="room-responsive">
        <strong id="followers" class="follow_followed"><%= member.followers.count %></strong>
        フォロワー
      </td>
      <td> 
        <% if member.is_deleted %>
          <span>退会済会員</span>
        <% else %>
          <span>有効会員</span>
        <% end %>
      </td>
      <td>
        <button type="button" class="btn btn-success"><%= link_to '編集', edit_admins_member_path(member.id) %></button>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="text-right">
  <%= paginate @members %>
</div>
