 <% if flash[:notice] %>
   <div class="flash">
        <%= flash[:notice] %>
      </div>
<% end %>
 <h1>Rearrange a Room</h1>   
 
  <div class="row">
   
      <div class="col-xs-3">
        <%= render partial: 'rooms/category', locals: { room_layouts: @room_layouts, room_genres: @room_genres, room_images: @room_images } %>
     </div>
     
     <div class="col-xs-9">
       
         
         <% lastFavorite = 0 %>
              <% j = 1 %>
         <% @all_ranks.each.with_index(1) do |ranking, i| %>
              
              <% if i == 1 %>
               <% lastFavorite = ranking.favorites.count %>
              <% end %>
              
              <% if ranking.favorites.count != lastFavorite %>
              <% j = i %>
                 <div><%= j %>位</div><br />
                 <br>
                  <%= link_to member_path(ranking.member_id) do %>
                    <%= attachment_image_tag ranking.member, :profile_image, :limit, 300, 300, class:"img-circle", fallback: "no_image.jpg",size: "80x80" %></td>
                  <% end %>
                  <%= ranking.member.nickname %><br />
                  <br>
                  <%= link_to room_path(ranking.id) do %>
                    <%= attachment_image_tag ranking, :image, :limit, 300, 300, fallback: "no_image.jpg",size: "270x270" %>
                  <% end %>
                  <div id="favorites_buttons_<%= ranking.id %>">
                    <%= render partial: 'favorites/favorite', locals: { room: ranking} %>
                  </div>
                  
              <% else %>
                <% lastFavorite = ranking.favorites.count %>
                  <div>第<%= j %>位</div>
                  <br>
                   <%= link_to member_path(ranking.member_id) do %>
                     <%= attachment_image_tag ranking.member, :profile_image, :limit, 300, 300, class:"img-circle", fallback: "no_image.jpg",size: "80x80" %></td>
                  <% end %>
                  <%= ranking.member.nickname %><br />
                  <br>
                  <%= link_to room_path(ranking.id) do %>
                    <%= attachment_image_tag ranking, :image, :limit, 300, 300, fallback: "no_image.jpg",size: "270x270" %>
                  <% end %>
                  <div id="favorites_buttons_<%= ranking.id %>">
                    <%= render partial: 'favorites/favorite', locals: { room: ranking} %>
                  </div>

              <% end %> 
            
           
         <% end %>
       
     </div>
