  <div class="search-container">
    <div class="row">
      <div class="col-xs-5">
        <div class="search-heading">
          Search Form <font color="#B6C2C2"><i class="fas fa-search"></i></font>
        </div>
        <div class="search-logo"></div>
      </div>
      <div class="search-category">
        <div class="col-xs-7">
          <h4><%= link_to "すべての投稿", rooms_path %></h4>
		      <h4>間取り</h4>
		      <li><% RoomLayout.all.each do |room_layout| %></li>
		        <%= link_to room_layout.layout_name, rooms_path(room_layout_id: room_layout.id) %>
		      <% end %>
		      <h4>部屋の種類</h4>
		      <li><% RoomGenre.all.each do |room_genre| %></li>
		        <%= link_to room_genre.genre_name, rooms_path(room_genre_id: room_genre.id) %>
		      <% end %>
		      <h4>イメージ</h4>
		      <li><% RoomImage.all.each do |room_image| %></li>
		        <%= link_to room_image.image_name, rooms_path(room_image_id: room_image.id) %>
		      <% end %>
           <%= form_with url: search_path, method: :get, local: true do |f| %>
            <h4>フリーワード</h4>
            <%= f.select :range, options_for_select([['---選択してください---', ''],['USER', '1'],['ROOM', '2']]) %><br />
            <br>
            <%= f.text_field :word %><br />
            <br>
            <%= f.submit "検索" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

