

<div class="row">
    <div class="col-xs-12">
        <%= render partial: 'rooms/category', locals: { room_layouts: @room_layouts, room_genres: @room_genres, room_images: @room_images } %>
    </div>
</div>    

<h2>
<% if params[:room_layout_id] %>
  SELECT ROOMS　<%= @room_layout.layout_name %>
<% elsif params[:room_genre_id] %>
SELECT ROOMS　<%= @room_genre.genre_name %>
<% elsif params[:room_image_id] %>
SELECT ROOMS　<%= @room_image.image_name %>
<% else %>
  ROOMS
<% end %>
</h2>
<div class="row">
        <div clas="col-xs-12">
          
<div class="post-container">
<% @rooms.each do |room| %>

<div class="post-list">

<%= link_to member_path(room.member_id) do %>
<%= attachment_image_tag room.member, :profile_image, :limit, 300, 300, class:"img-circle", fallback: "no_image.jpg",size: "80x80" %></td>
<% end %>
<%= room.member.nickname %>
<br>

<div id="favorites_buttons_<%= room.id %>">
             <%= render partial: 'favorites/favorite', locals: { room: room} %>
          </div>

  </div>
  <% end %>

 </div>
</div>
  </div>

