<h2>ROOMS</h2>
<% @rooms.each do |room| %>
<%= attachment_image_tag room.member, :profile_image, :limit, 300, 300, fallback: "no_image.jpg",size: "80x80" %></td>
<%= room.member.nickname %>
<br>
<%= attachment_image_tag room, :image, :limit, 300, 300, fallback: "no_image.jpg",size: "320x320" %></td>
<table class="table">
    <tr>
      <td><%= room.created_at %></td>
    </tr>
    <tr>
      <td>X良いね　Xコメント</td>
    </tr>
    <td>リビング</td>
    <tr>
  </table>
  
  <% if room.member == current_member %>
     <%= link_to '編集', edit_room_path(room.id) %>
     <%= link_to '削除', room_path(room.id), method: :delete, data: {confirm: "Are you sure?"} %>
           
  <% end %>
  <% end %>
  
  
      
    </tr>
  </thead>
</table>