<% @page_title = "#{@member.nickname}さんのRoom" %>
<h2><%= @room.member.nickname %>のRoom</h2>

  <div class="room-container">
    <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-3">
        <!-- 投稿詳細 -->
        <div class="room-image">
          <div id="favorites_buttons_<%= @room.id %>">
          <%= render partial: 'favorites/favorite', locals: { room: @room} %>
        </div>
        </div>
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-4">
        <div class="room-production-table">
          <table class="table" style="table-layout:fixed;">
            <tr>
              <td>
                <%= link_to member_path(@member.id) do %>
                  <%= attachment_image_tag @member, :profile_image, :limit, 80, 80, class:"img-circle", fallback: "no_image.jpg",size: "80x80" %>
                <% end %>
              </td>
              <td><%= @member.nickname %></td>
            </tr>
            <tr>
              <th>間取り</th>
              <td><%= @room.room_layout.layout_name %></td>
            </tr>
            <tr>
              <th>広さ</th>
              <td><%= @room.size %>畳</td>
            </tr>
            <tr>
              <th>部屋の種類</th>
              <td><%= @room.room_genre.genre_name %></td>
            </tr>
            <tr>
              <th>イメージ</th>
              <td><%= @room.room_image.image_name %></td>
            </tr>
            <tr>
              <th>説明</th>
              <td><%= simple_format text_url_to_link(h(@room.production)).html_safe %></td>
            </tr>
          </table>
          <% if @room.member == current_member %>
            <div class="text-right">
              <button type="button" class="btn btn-success"><%= link_to "編集", edit_room_path(@room.id) %></button>
              <button type="button" class="btn btn-danger"><%= link_to '削除', room_path(@room.id), method: :delete, data: {confirm: "本当に削除しますか？"} %></button>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-2"></div>
    </div>
  </div>
  
  <!-- 投稿へのコメント -->
  <% if @room_comment.errors.any? %>
    <h5><%= pluralize(@room_comment.errors.count, "") %>個のエラーがあります</h5>
    <ul>
      <% @room_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>  
  <%end %>
      
  <div id="comments_area">
    <h3><i class="fa fa-comment"></i> Comment　<%= @room.room_comments.count %>件</h3>
    <div class="room_comment_container">
      <% @room_comments.each do |room_comment| %>
        <% if room_comment.parent_id.present? || room_comment.id.blank? %>
          <% next %>
        <% end %>
      <!-- 親コメント一覧 -->
        <table class="table">
          <tr>
            <td width="200">
              <p>
                <%= attachment_image_tag room_comment.member, :profile_image, :limit, 80, 80, class:"img-circle", fallback: "no_image.jpg",size: "80x80" %>
                <%= room_comment.member.nickname %>
              </p>
              <%= room_comment.created_at.strftime("%Y-%m-%d %H:%M") %>
              <% if current_member == room_comment.member %>
                <%= link_to "削除", room_room_comment_path(@room, room_comment), method: :delete, data: {confirm: "本当に削除しますか？"} %><br />
              <% end %>
              <div class="btn-wrap">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalForm" data-cusno=1 data-visitday="2019-07-01" onClick="inputCommentParentId(<%=room_comment.id%>)">
                  返信 <i class="fa fa-comment"></i>
                </button>
              </div>
              <br>
            </td>
            <td>
              <%= text_url_to_link(h(room_comment.comment)).html_safe %>
            </td>
          </tr>
          <!-- リプライコメント一覧 -->
           <div id="reply_area">
　         <% room_comment.replies.order(:created_at).each do |reply| %>
            <tr>
              <td width="200">
                <p>
                  <%= attachment_image_tag reply.member, :profile_image, :limit, 80, 80, class:"img-circle", fallback: "no_image.jpg",size: "50x50" %>
                  <%= reply.member.nickname %>
                </p>
                <%=reply.created_at.strftime("%Y-%m-%d %H:%M") %>
                <% if current_member == reply.member %>
                  <%= link_to "削除", room_room_comment_path(@room, reply), method: :delete, data: {confirm: "本当に削除しますか？"} %>
                <% end %>
              </td>
              <td><%= text_url_to_link(h(reply.comment)).html_safe %></td>
            </tr>
          <% end %>
          </div>
        </table>
      <br>
      <% end %>
      <!-- 親コメント入力フォーム -->
      <%= form_with(model:[@room,@room_comment],local:true) do |form| %>
      <br>
        <p>
          <label>コメント</label>
        </p>
        <%= form.text_area :comment, class: "form-control input-form" %>
        <%= form.hidden_field :room_id, value: @room.id %>
        <br>
        <div class="text-right">
          <button type="submit" class="btn btn-primary">送信</button>
        </div>
      <% end %>
    </div>
  </div>
  <!-- モーダルフォーム(リブライコメント入力フォーム）-->
  <div class="modal fade" id="modalForm" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="text-center">
            返信コメント入力フォーム
          </div>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
            <span class="sr-only">閉じる</span>
          </button>
        </div>
        <%= form_with(model:[@room, @room_comment_reply], local: true) do |form| %>
          <div class="modal-body">
            <%= form.text_area :comment, class: "form-control input-form" %>
            <%= form.hidden_field :room_id, value: @room.id %>
            <%= form.hidden_field :parent_id %>
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-primary">送信</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>  
