<!DOCTYPE html>
<html>
  <head>
    <title>Rearrange_a_Room</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  </head>

  <body>
  
    <header>
          <div class="header">
        <div class="logo">Rearrange a Room</div>
        
         <% if admin_signed_in? %>
       <nav>
        <ul>
                  <li class="header-list-item"><%= link_to "会員一覧", admins_members_path, class: "btn-primary" %></li>
                  <li class="header-list-item"><%= link_to "投稿一覧", admins_rooms_path, class: "btn-primary" %></li>
                  <li class="header-list-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn-primary" %></li>
       </ul>
       </nav>
       <% end %>
      

        <!--<div class="header-list">-->
            <nav>
              <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
              </div>

              <nav class="globalMenuSp">
                <ul>

                <% if member_signed_in? %>
                  <li><%= link_to "TOP", root_path %></li>
                  <li><%= link_to "POST", new_room_path %></li>
                  <li><%= link_to "MY PAGE", member_path(current_member) %></li>
                  <li><%= link_to "ROOMS", rooms_path %></li>
                  <li><%= link_to "USUERS", members_path %></li>
                  <li><%= link_to "SIGN OUT", destroy_member_session_path, method: :delete %></li>
                <% else %>
                  <li><%= link_to "TOP", root_path %></li>
                  <li><%= link_to "ABOUT", homes_about_path %></li>
                  <li><%= link_to 'GEST SIGN IN', members_guest_sign_in_path, method: :post %></li>
                  <li><%= link_to "SIGN UP", new_member_registration_path %></li>
                  <li><%= link_to "SIGN IN", new_member_session_path %></li>
                <% end %>
              </ul>
            </nav>

          
          </div>
    </header>
    <main>
        <% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>
      <div class="container">

          <%= yield %>
      </div>
    </main>
  </body>
</html>
