<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= favicon_link_tag 'favicon.PNG'%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <div class="header">
        <div class="logo"><div class="logo-background"><div class="logo-image"></div></div><div class="logo-text">Rearrange a Room</div></div>
        <div class="header-list">
          <nav>
            <ul>
              <% if member_signed_in? %>
                <li class="header-list-item"><%= link_to "Home", root_path, class: "btn-primary" %></button></li>
                <li class="header-list-item"><%= link_to "Post", new_room_path, class: "btn-primary" %></li>
                <li class="header-list-item"><%= link_to "My Page", member_path(current_member.id), class: "btn-primary" %></li>
                <li class="header-list-item"><%= link_to "Users", members_path, class: "btn-primary" %></li>
                <li class="header-list-item"><%= link_to "Rooms", rooms_path, class: "btn-primary"  %></li>
                <li class="header-list-item"><%= link_to "Sign Out", destroy_member_session_path, method: :delete, class: "btn-primary" %></li>
              <% elsif admin_signed_in? %>
                <li class="header-list-item"><%= link_to "会員一覧", admins_members_path, class: "btn-primary" %></li>
                <li class="header-list-item"><%= link_to "投稿一覧", admins_rooms_path, class: "btn-primary" %></li>
                <li class="header-list-item"><%= link_to "Sign Out", destroy_admin_session_path, method: :delete, class: "btn-primary" %></li>
              <% else %>
                <li class="header-list-item"><%= link_to "Home", root_path, class: "btn-primary" %></li>
                <li class="header-list-item"><%= link_to "About", homes_about_path, class: "btn-primary" %></li>
                <li class="header-list-item"><%= link_to "Gest In", members_guest_sign_in_path, method: :post, class: "btn-primary" %></li></a>
                <li class="header-list-item"><%= link_to "Sign Up", new_member_registration_path, class: "btn-primary" %></li>
                <li class="header-list-item"><%= link_to "Sign In", new_member_session_path, class: "btn-primary"  %></li>
              <% end %>
            </ul>
          </nav>
        </div>
    </header>

    <main>
      <h4>
        <% if flash[:notice] %>
          <div class="flash">
            <%= flash[:notice] %>
          </div>
        <% end %>
      </h4>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>