<% if member == current_member %>
  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn btn-info room-responsive" data-toggle="modal" data-target="#modalForm">
        <i class="fas fa-comments"></i> DM一覧
      </button>
      <button type="button" class="btn btn-info room-responsive" data-toggle="modal" data-target="#modalForm-notification">
        <i class="fas fa-envelope"></i> 通知
      </button>
      <br />
      <button type="button" class="btn btn-info room-responsive-375px" data-toggle="modal" data-target="#modalForm-375px">
        <i class="fas fa-comments"></i> DM一覧
      </button>
      <button type="button" class="btn btn-info room-responsive-375px" data-toggle="modal" data-target="#modalForm-notification-375px">
        <i class="fas fa-envelope"></i> 通知
      </button>
      <br />
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <table class="table" >
          <tr>
            <td>
              <div class="member-image"><%= attachment_image_tag member, :profile_image, class:"member-image", fallback: "no_image.jpg",size: "320x320" %></div></td>
            </td>
          </tr>
        </table>
      </div>
      <br>
      <div class="table-style">
        <table class="table" style="table-layout:fixed;">
          <tr>
            <th>名前</th>
            <td><div class="member-name"><%= member.nickname %></div></td>
          </tr>
          <tr>
            <th>プロフィール</th>
            <td><%= text_url_to_link(h(member.profile)).html_safe %></td>
          </tr>
          
          <tr>
            <td>
             <a href="<%= following_member_path(@member) %>">
               <strong id="following" class="follow_followed"><%= @member.following.count %></strong>フォロー
             </a>
            </td>
            <td>
              <a href="<%= followers_member_path(@member) %>">
                <strong id="followers" class="follow_followed"><%= @member.followers.count %></strong>フォロワー
              </a>
            </td>
          </tr>
        </table>
      </div>
      <div class="row">
        <h6 class="room-responsive-375px">
          <div class="col-xs-4">
            <%= link_to "Rooms", member_rooms_member_path(@member.id), class: "btn-primary" %>
          </div>
        </h6>
        <div class="col-xs-4">
          <button type="button" class="btn btn-success">
           <%= link_to "編集する", edit_member_path(@member.id) %>
          </button>
        </div>
        <div class-"col-xs-4"></div>
      </div>
    </div>
  </div>
<% else %>
<!-- フォローボタン -->
  <% if member != current_member %>
    <div class="row">
      <div class="col-xs-4">
        <div id="follow_form">
          <% if current_member.following?(member) %>
            <%= form_for(current_member.active_relationships.find_by(followed_id: member.id), html: { method: :delete }) do |f| %>
              <button type="submit" class="btn btn-primary">フォロー中</button><br />
            <% end %>
          <% else %>
            <%= form_for(current_member.active_relationships.build) do |f| %>
              <div><%= hidden_field_tag :followed_id, member.id %></div>
              <button type="submit" class="btn btn-light">フォローする</button><br />
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-1"></div>
      
      <!-- チャットルームボタン -->
      <div class="col-xs-4">
        <% unless member.id == current_member.id %>
          <% if @is_chat == true %>
            <button type="button" class="btn btn-info"><a href="/chats/<%= @chat_id %>">DMへ</a></button><br />
            <br>
          <% else %>
            <%= form_with model: @chat, local: true do |f| %>
              <%= fields_for @entry do |e| %>
              <%= e.hidden_field :member_id, value: @member.id %>
            <% end %>
              <button type="submit" class="btn btn-info">DMを始める</button><br />
              <br>
            <% end %>
          <% end %>
        <% end %>
      </div>  
      <div class="col-xs-3"></div>
    </div>
  <% end %>
    
  <!-- プロフィール -->
  <div class="text-center">
    <table class="table">
      <tr>
        <td>
          <div class="member-image"><%= attachment_image_tag member, :profile_image, class:"member-image",fallback: "no_image.jpg",size: "320x320" %></div>
        </td>
      </tr>
    </table>
  </div>
  <br>
    <table class="table" style="table-layout:fixed;">
      <tr>
        <th>名前</th>
        <td><div class="member-name"><%= member.nickname %></div></td>
      </tr>
      <tr>
        <th>プロフィール</th>
        <td><div class="member-profile"><%= text_url_to_link(h(member.profile)).html_safe %></div></td>
      </tr>
      <div class="follow_followed">
      <tr>
        <td>
        <% @member ||= current_member %>
          <a href="<%= following_member_path(@member) %>">
            <strong id="following" class="follow_followed"><%= @member.following.count %></strong>フォロー
          </a>
        </td>
        <td>
          <a href="<%= followers_member_path(@member) %>">
            <strong id="followers" class="follow_followed"><%= @member.followers.count %></strong>フォロワー
          </a>
        </td>
      </tr>
      </div>
    </table>
    <h6 class="room-responsive-375px">
      <%= link_to "Rooms", member_rooms_member_path(@member.id), class: "btn-primary" %>
    </h6>
   <% end %>
   
  <!-- モーダルフォーム(DM一覧) -->
  <div class="modal fade" id="modalForm" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="text-center">DM一覧</div>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
            <span class="sr-only">閉じる</span>
          </button>
        </div>
        <form role="form" id="form1" action="" method="POST">
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>名前</th>
                  <th></th>
                </tr>
                <tr>
              </thead>
              <tbody>
                <% @another_entries.each do |m| %>
                  <tr>
                    <td>
                      <%= attachment_image_tag m.member, :profile_image, :limit, 50, 50, class:"img-circle", fallback: "no_image.jpg", size: "100x100" %>
                    </td>
                    <td>
                      <%= m.member.nickname %>
                        <% if member.is_deleted %>
                        (退会済会員)
                      <% end %>
                    </td>
                    <td>
                      <%= link_to "チャットへ", chat_path(m.chat.id) %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">閉じる</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <!-- モーダルフォーム(通知) -->
   <div class="modal fade" id="modalForm-notification" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="text-center">通知</div>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
            <span class="sr-only">閉じる</span>
          </button>
        </div>
        <form role="form" id="form1" action="" method="POST">
          <div class="modal-body">
            <% if @notifications.exists? %>
              <table class="table">
              <% @notifications.each do |notification| %>
              <tr>
                <td>
                  <%= link_to notification.visitor.nickname, member_path(notification.visitor.id) %>さんが
                  <% case notification.action %>
                    <% when 'follow' then %>
                      あなたをフォローしました
                    <% when "room_comment" then %>
                      <% if notification.room.member.id == current_member.id %>
                        <%= link_to "あなたの投稿", room_path(notification.room) %>
                        にコメントしました
                      <% end %>
                    <% when "favorite" then %>
                      <%= link_to "あなたの投稿", room_path(notification.room) %>
                      にいいねしました
                  <% end %>
                </td>
                </tr>
              </table>
            <% end %>  
            <% else %>
              現在通知はありません！
              他のユーザーにフォロー、いいね、コメントされると、
              ここに通知が表示されます！
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">閉じる</button>
          </div>
        </form>
      </div>
    </div>
  </div>