<% if member != current_member %>
  <div id="follow_form">
  <% if current_member.following?(member) %>
  <%= form_for(current_member.active_relationships.find_by(followed_id: member.id), html: { method: :delete }) do |f| %>
  <%= f.submit "Unfollow", class: "btn" %>
<% end %>
    
  <% else %>
   
   <%= form_for(current_member.active_relationships.build) do |f| %>
  <div><%= hidden_field_tag :followed_id, member.id %></div>
  <%= f.submit "Follow", class: "btn btn-primary" %>
<% end %>
   
  <% end %>
  </div>
<% end %>

<div class="text-center">
 <div class="member-image"><%= attachment_image_tag @member, :profile_image, :limit, 300, 300, fallback: "no_image.jpg",size: "320x320" %></div></td>
</div>
<br>
<table class="table">
<tr><th>ニックネーム</th>
    <td><div class="member-name"><%= @member.nickname %></div></td>
</tr>
<tr>
    <th>プロフィール</th>
    <td><div class="member-profile"><%= @member.profile %></div></td>
</tr>
<tr>
    <td>
 
        <% @member ||= current_member %>
        <div class="follow_followed">
            <a href="<%= following_member_path(@member) %>">
                <strong id="following" class="follow_followed"><%= @member.following.count %></strong>
                フォロー
            </a>
            
            </td>
            <td>
            <a href="<%= followers_member_path(@member) %>">
                <strong id="followers" class="follow_followed"><%= @member.followers.count %></strong>
                フォロワー
            </a>
        </div>
    </td>
</tr>

</table>
<%= link_to "編集する", edit_member_path(@member.id) %>
<%= link_to "パスワードを変更する", member_path(@member.id) %>