<% @page_title = "#{@member.nickname}さんのFollow" %>
<h2>Follow</h2>

<div class = "row room-responsive">
  <div class="col-xs-4">
    <%= render 'follow_form', member: @member %>
  </div>
  <div class="col-xs-8">
    <table class="table">
      <thead>
        <tr>
         <th></th>
         <th>名前</th>
         <th>プロフィール</th>
        </tr>
      </thead>
      <tbody>
        <% @members.each do |member| %>
          <tr>
            <td>
              <%= link_to attachment_image_tag(member, :profile_image, :fill, 20, 20, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size: "80x80"), member_path(member.id) %>フォロワー
              <%=link_to member.followers.count, followers_member_path(member) %>
            </td>
            <td>
              <%= link_to member.nickname, member_path(member) %>
                <% if member.is_deleted %>
               (退会済会員)
              <% end %>
            </td>
            <td><%= member.profile %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- media-responsive-375px -->
<table class="table room-responsive-375px">
  <thead>
    <tr>
      <th></th>
      <th>名前</th>
      <th>プロフィール</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to attachment_image_tag(member, :profile_image, :fill, 20, 20, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size: "80x80"), member_path(member.id) %>
          フォロワー
          <%=link_to member.followers.count, followers_member_path(member) %>
        </td>
        <td>
          <%= link_to member.nickname, member_path(member) %>
          <% if member.is_deleted %>
            (退会済会員)
          <% end %>
        </td>
        <td><%= member.profile %></td>
      </tr>
    <% end %>
  </tbody>
</table>