<% @page_title = "Users" %>
<h2>Users</h2>

<table class="table" style="table-layout:fixed;">
  <thead>
    <tr>
      <th >名前</th>
      <th>プロフィール</th>
      <th>フォロワー数</th>
    </tr>
  </thead>
  <tbody>
  <% @members.each do |member| %>
    <tr>
      <td>
        <%= link_to (attachment_image_tag member, :profile_image, :limit, 50, 50, class:"img-circle", fallback: "no_image.jpg", size: "100x100"), member_path(member.id) %><br />
        <div class="text-center"><%= link_to member.nickname, member_path(member.id) %></div>
      <td>
         <% if member.is_deleted %>
        (退会済会員)
        <% else %>
        <%= simple_format text_url_to_link(h(member.profile)).html_safe.truncate(50, omission: '...') %>
        <% end %>
      </td>
      <td>
        <a href="<%= followers_member_path(member.id) %>">
          <strong id="followers" class="follow_followed"><%= member.followers.count %></strong>
          フォロワー
        </a>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="text-right">
  <%= paginate @members %>
</div>