<h2>Users</h2>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>名前</th>
      <th>プロフィール</th>
      <th>フォロワー数</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
    <tr>
      
      <td><%= link_to (attachment_image_tag member, :profile_image, :limit, 50, 50, class:"img-circle", fallback: "no_image.jpg", size: "100x100"), member_path(member.id) %></td>
    
      <td><%= link_to member.nickname, member_path(member.id) %></td>
      
      <td><%= text_url_to_link(h(member.profile)).html_safe %>
      <% if member.is_deleted %>
       (退会済会員)
      <% end %></td>
      <td>
        <a href="<%= followers_member_path(member.id) %>">
                <strong id="followers" class="follow_followed"><%= member.followers.count %></strong>
                フォロワー
            </a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
