<% if flash[:notice] %>
   <div class="flash">
        <%= flash[:notice] %>
      </div>
<% end %>
<h2><%= @member.nickname %> PAGE 
     <% if @member.is_deleted %>
         (退会済会員)
      <% end %>
</h2>



<div class="row">
    <div class="col-xs-4">

<%= render 'follow_form', member: @member %>

</div>

<div class="col-xs-8">

<div class="post-container">
<% @rooms.each do |room| %>
<div class="post-list">
<br>
<%= link_to room_path(room.id) do %>
<%= attachment_image_tag room, :image, :limit, 300, 300, fallback: "no_image.jpg",size: "320x320" %>
<% end %>
<br>
<div id="favorites_buttons_<%= room.id %>">
             <%= render partial: 'favorites/favorite', locals: { room: room} %>
          </div>
  <% if room.member == current_member %>
     <%= link_to '編集', edit_room_path(room.id) %>
     <%= link_to '削除', room_path(room.id), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
 
   
  </div>
 <% end %>
 </div>


</div>
</div>
