<% @page_title = "#{@member.nickname}さんのMyPage" %>

<h2>
  <%= @member.nickname %> Page
  <% if @member.is_deleted %>
    (退会済会員)
  <% end %>
</h2>

<div class="row room-responsive">
  <div class="col-xs-4">
    <%= render "follow_form", member: @member %>
  </div>
  <div class="col-xs-8">
    <% if @rooms.empty? %>
      <div class="text-center">
        <h4>投稿されたRoomはありません</h4>
      </div>
    <% else %>
      <div class="room-container">
        <div class="post-container">
          <% @rooms.each do |room| %>
            <div class="post-list"><br />
              <br>
              <div class="favorites_buttons_<%= room.id %>">
                <%= render partial: "favorites/favorite", locals: { room: room} %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="text-right">
          <%= paginate @rooms %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- room-responsive-375px -->
<div class="room-responsive-375px">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <%= render 'follow_form', member: @member %>
    </div>
    <!-- responsive-375px-modalform -->
    <div class="modal fade" id="modalForm-375px" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div class="text-center">DM一覧</div>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">×</span>
              <span class="sr-only">閉じる</span>
            </button>
          </div>
          <form role="form" id="form1" action="" method="POST">
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>名前</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @another_entries.each do |m| %>
                    <tr>
                      <td>
                        <%= attachment_image_tag m.member, :profile_image, :limit, 50, 50, class:"img-circle", fallback: "no_image.jpg", size: "100x100" %>
                      </td>
                      <td>
                        <%= m.member.nickname %>
                        <% if @member.is_deleted %>
                          (退会済会員)
                        <% end %>
                      </td>
                      <td>
                        <%= link_to "チャットへ", chat_path(m.chat.id) %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">閉じる</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>

<!-- モーダルフォーム(通知) -->
<div class="modal fade" id="modalForm-notification-375px" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center">通知</div>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
          <span class="sr-only">閉じる</span>
        </button>
      </div>
      <form role="form" id="form1" action="" method="POST">
        <div class="modal-body">
          <% if @notifications.empty? %>
            現在通知はありません！<br />
            他のユーザーにフォロー、いいね、DM、コメントされるとここに通知が表示されます！
          <% else %>
            <table class="table">
              <% @notifications.each do |notification| %>
                <tr>
                  <td>
                    <%= link_to notification.visitor.nickname, member_path(notification.visitor.id) %>さんが
                    <% case notification.action %>
                      <% when "follow" then %>
                        あなたを<%= link_to "フォロー", followers_member_path(notification.visited.id) %>しました
                      <% when "room_comment" then %>
                      <% if notification.room.member.id == current_member.id %>
                        <%= link_to "あなたの投稿", room_path(notification.room) %>にコメントしました
                      <% end %>
                      <% when "favorite" then %>
                      <%= link_to "あなたの投稿", room_path(notification.room) %>にいいねしました
                      <% when "dm" then %>
                      <%= link_to "あなたのDM", chat_path(notification.message.chat.id) %>にメッセージしました
                    <% end %>
                  </td>
                 </tr>
              <% end %>
            </table>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">閉じる</button>
        </div>
      </form>
    </div>
  </div>
</div>